<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HOME</title>

<style type="text/css">
.bigbox{
width: 100%;
}
.title{
  color: #000000;
  text-align:center;
}
.comment{
  text-align: center;
}
.slide{
  width: 45%;
  margin: 0 auto;
}
  
ul.ddmenu {
   margin: 0px;               
   padding: 0px 0px 0px 15px; 
   background-color: #FFFFFF;
	text-align: center;
}
ul.ddmenu li {
width: 150px; /* メニュー項目の横幅(125px) */
display: inline-block; /* ★1:横並びに配置する */
list-style-type: none; /* ★2:リストの先頭記号を消す */
position: relative; /* ★3:サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
background-color: #FFFFFF; /* メニュー項目の背景色 */
color: #000000; /* メニュー項目の文字色(白色) */
line-height: 40px; /* メニュー項目のリンクの高さ(40px) */
text-align: center; /* メインメニューの文字列の配置(中央寄せ) */
text-decoration: none; /* メニュー項目の装飾(下線を消す) */
font-weight: bold; /* 太字にする */
display: block; /* ★4:項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
background-color: #FFFFFF; /* メニュー項目にマウスが載ったときの背景色 */
color: #a9a9a9; /* メニュー項目にマウスが載ったときの文字色 */
}
ul.ddmenu li:hover ul {
display: block; /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true,
                pause: 5000,
            });
        });
</script>
</head>

<!-- 実際には#にURLを記述 -->

<body>
<div class="bigbox">
  
  <div class="title">
    <h1>ASIAN KUNG-FU GENERATION</h1>
  </div>

  <div>
	  <ul class="ddmenu">
     	<li><a href="/">ホーム</a></li>
      <li><a href="/member">メンバー</a></li>
     	<li><a href="/album">アルバム</a></li>
     	<li><a href="/single">シングル</a></li>
      <li><a href="/songs">曲</a></li> 
      <li><a href="/public/akg_search.html">検索</a></li>
	  </ul>
  </div>

  <div class="slide">
  <div class="slider">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/All%20right%20part2.jpg?raw=true"      width="500" height="500" alt="">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/BEST%20HIT%20AKG2.jpg?raw=true"        width="500" height="500" alt="">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/Droro.jpg?raw=true" width="500"        height="500" alt="">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/surf.jpg?raw=true" width="500"         height="500" alt="">
    <img   
src="https://github.com/raonyao0623/web2021_1/blob/main/%E3%82%BD%E3%83%AB%E3%83%95%E3%82%A1.jpg?raw=true" width="500" height="500" alt="">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/%E3%83%95%E3%82%A3%E3%83%BC%E3%83%89%E3%83%90%E3%83%83%E3%82%AF%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB2.jpg?raw=true" width="500" height="500" alt="">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/%E3%83%9E%E3%82%B8%E3%83%83%E3%82%AF%E3%83%87%E3%82%A3%E3%82%B9%E3%82%AF.jpg?raw=true" width="500" height="500" alt="">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/%E5%90%9B%E3%81%A8%E3%81%84%E3%81%86%E8%8A%B1.jpg?raw=true" width="500" height="500" alt="">
    <img src="https://github.com/raonyao0623/web2021_1/blob/main/%E8%97%A4%E6%B2%A2%E3%83%AB%E3%83%BC%E3%82%B6%E3%83%BC.jpg?raw=true" width="500" height="500" alt="">
  </div>
  </div>
  <div class="comment">
    <h2>ASIAN KUNG-FU GENERATIONとは日本のロックバンドである。<br>
      メンバーは
      後藤正文 （ボーカル、ギター）<br>
      喜多建介 （ギター、ボーカル）<br>
      山田貴洋 （ベース、ボーカル）<br>
      伊地知潔 （ドラムス）
      の4人。<br>

関東学院大学の軽音サークルで結成され、<br>2003年に「遥か彼方」などを収録したミニアルバム「崩壊アンプリファー」で<br>メジャーデビューを果たす。<br>

その後、「リライト」の大ヒット、<br>2ndフルアルバム「ソルファ」のオリコン1位等をキッカケに人気バンドの仲間入りを果たした。</h2>
  </div>
</body>
</html>
