<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>曲一覧</h2>
  <table border="1">
    <tr>
      <th>ID </th>
      <th>曲名　</th>
    </tr>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id%></td>
            <td><%= row.name %></td>
        </tr>
      <% } %>
  </table>
  <form action="/">
  <input type="submit" value="戻る"></form>

  <h1>曲削除</h1>
    <form action="/songs_del">
     <p>ID       ：<input type="text" name="id" id="id"></p>
    <input type="submit" value="削除">
  </form>
</body>
</html>