<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>アルバム収録曲</h2>
  <table border="1">
    <tr>
      <th>曲名　</th>
    </tr> 
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.name %></td>
        </tr>
      <% } %>
  </table>
   <form action="/album">
   <input type="submit" value="戻る"></form>
</body>
</html>